* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    max-width: 80%;
    min-width: 420px;
    margin: 0 auto;
    height: 100vh;
}

#loading-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#loading-overlay > span {
    font-family: 'Helvetica', sans-serif;
    font-size: 35px;
    text-shadow: 0 5px 5px orangered;
    animation-duration: 1s;
    animation-name: light;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes light {
    from {
        text-shadow: 0 5px 5px orangered;
    }
    to {
        text-shadow: 0 5px 5px white;
    }
}

.loading-overlay-hidden {
    display: none;
}

#app {
    position: relative;
}

.alert {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #33BDEF;
    text-align: center;
    padding: 30px 5px;
    font-size: 30px;
    font-family: "Helvetica", sans-serif;
    color: white;
    width: 300px;
    height: 100px;
}

.fighters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#fighters-container-hidden {
    display: none
}

.fighter {
    position: relative;
    height: 300px;
    width: 33%;

}

.fighter:hover {

}

.fighter-image {
    height: 100%;
}

.fighter-description {
    position: absolute;
    padding: 15px;
    width: 250px;
    bottom: 20px;
    right: 15px;

    background-color: white;

    animation-duration: 1s;
    animation-name: bgLight;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    -webkit-box-shadow: 0 10px 10px 10px #019AD2;
    box-shadow: 0 10px 10px 10px #019AD2;
}

@keyframes bgLight {
    from {
        -webkit-box-shadow: 0 10px 10px 10px #019AD2;
        box-shadow: 0 10px 10px 10px #019AD2;;
    }
    to {
        -webkit-box-shadow: 0 1px 1px 1px #019AD2;
        box-shadow: 0 1px 1px 1px #019AD2;
    }
}

.fighter-description-hidden {
    display: none;
}

.fighter-description > * {
    display: flex;
    justify-content: space-between;
}

.fighter-button {
    position: absolute;
    top: 20px;
    right: 15px;
}

.fighter-button {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2', GradientType=0);
    background-color: #33bdef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

.fighter-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef', GradientType=0);
    background-color: #019ad2;
}

#fighter-button-hidden {
    display: none;
}

.arena {
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100vh;
    display: none;
}

#activated {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#fighter_on_arena:last-child {
    transform: scaleX(-1);
}

#fighter_on_arena:last-child > .fighter-description {
    transform: scaleX(-1);
}

.arena-button {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2', GradientType=0);
    background-color: #33bdef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    flex-basis: 100%;
    font-size: 30px;
}

.arena-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef', GradientType=0);
    background-color: #019ad2;
}